<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  	<resource-ref>
		<description>DB_Connection</description>
		<res-ref-name>JSPWork</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
  
  <servlet>
    <servlet-name>InsertCartServlet</servlet-name>
    <servlet-class>com.cart.InsertCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuyCartServlet</servlet-name>
    <servlet-class>com.cart.BuyCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>com.cart.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FilterServlet</servlet-name>
    <servlet-class>com.cart.filter.FilterServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>SubmitCartServlet</servlet-name>
    <servlet-class>com.cart.SubmitCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.cart.dao.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.cart.AddCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CodeImageServlet</servlet-name>
    <servlet-class>com.cart.CodeImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logoutSrevlet</servlet-name>
    <servlet-class>com.cart.dao.logoutSrevlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.cart.dao.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListProductsServlet</servlet-name>
    <servlet-class>com.cart.ListProductsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListCartServlet</servlet-name>
    <servlet-class>com.cart.ListCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClearAllCartServlet</servlet-name>
    <servlet-class>com.cart.ClearAllCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeCartNumServlet</servlet-name>
    <servlet-class>com.cart.ChangeCartNumServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAllProductsServlet</servlet-name>
    <servlet-class>com.admin.AdminAllProductsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListTypeProductsServlet</servlet-name>
    <servlet-class>com.cart.ListTypeProductsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuyCartNowServlet</servlet-name>
    <servlet-class>com.cart.BuyCartNowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.admin.AddProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeProInfoServlet</servlet-name>
    <servlet-class>com.admin.ChangeProInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteProServlet</servlet-name>
    <servlet-class>com.admin.DeleteProServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>InsertCartServlet</servlet-name>
    <url-pattern>/InsertCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyCartServlet</servlet-name>
    <url-pattern>/BuyCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/DeleteCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FilterServlet</servlet-name>
    <url-pattern>/FilterServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SubmitCartServlet</servlet-name>
    <url-pattern>/SubmitCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CodeImageServlet</servlet-name>
    <url-pattern>/CodeImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logoutSrevlet</servlet-name>
    <url-pattern>/logoutSrevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListProductsServlet</servlet-name>
    <url-pattern>/ListProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCartServlet</servlet-name>
    <url-pattern>/ListCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClearAllCartServlet</servlet-name>
    <url-pattern>/ClearAllCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCartNumServlet</servlet-name>
    <url-pattern>/ChangeCartNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAllProductsServlet</servlet-name>
    <url-pattern>/AdminAllProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListTypeProductsServlet</servlet-name>
    <url-pattern>/ListTypeProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyCartNowServlet</servlet-name>
    <url-pattern>/BuyCartNowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeProInfoServlet</servlet-name>
    <url-pattern>/ChangeProInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteProServlet</servlet-name>
    <url-pattern>/DeleteProServlet</url-pattern>
  </servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
    <filter-name>FilterServlet</filter-name>
    <filter-class>com.cart.filter.FilterServlet</filter-class>
    <init-param>
     <param-name>encoding</param-name>
     <param-value>utf-8</param-value>
    </init-param>
    <init-param><!--初始化参数,指定是否忽略大小写 -->  
       <param-name>ignore</param-name>  
       <param-value>true</param-value>  
    </init-param>
    <init-param>
     <param-name>home</param-name>
     <param-value>JspCartPage/Home.jsp</param-value>
    </init-param> 
    <init-param>
     <param-name>register</param-name>
     <param-value>JspCartPage/register.jsp</param-value>
    </init-param> 
    <init-param>
     <param-name>main</param-name>
     <param-value>JspCartPage/main.jsp</param-value>
    </init-param>
    <init-param>
     <param-name>login</param-name>
     <param-value>JspCartPage/login.jsp</param-value>
    </init-param>
    <init-param>
     <param-name>addCart</param-name>
     <param-value>JspCartPage/addCart.jsp</param-value>
    </init-param>
     <init-param>
     <param-name>listCart</param-name>
     <param-value>JspCartPage/listCart.jsp</param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>FilterServlet</filter-name>
    <url-pattern>/JspCartPage/*</url-pattern>
  </filter-mapping>
</web-app>
